@import "/src/core/theme";
.poolcard {
  width: 272px;
  height: 308px;
  // background-color: var(--main);
  background-color: rgba(154, 139, 250, 0.2);
  border-radius: 12px;
  box-shadow: var(--box-shadow);
  @include padding(28px 0);
  cursor: pointer;
  transition: all 0.5s;
  &:hover {
    transform: scale(1.05);
  }

  .pool_icons {
    @include padding-bottom(24px);
    border-bottom: 0.35px solid var(--pure-black);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;

    div {
      display: flex;

      img {
        width: 56px;
        height: 56px;
        border-radius: 50%;

        &:first-child {
          margin-left: 12px;
        }
        &:last-child {
          margin-left: -12px;
        }
      }
    }
  }
  .pool_data {
    border-bottom: 0.35px solid var(--pure-black);
    @include padding(24px 0);

    div {
      display: flex;
      width: 76%;
      margin: auto;
      align-items: center;
      justify-content: space-between;

      &:first-child {
        @include margin-bottom(16px);
      }

      h5 {
        text-overflow: ellipsis;
      }
    }
  }
  .pool_footer {
    text-align: center;
    @include font-size($font-size-xsm);
    display: flex;
    align-items: center;
    justify-content: center;
    p {
      @include margin(24px 0 0);
    }
  }
  .footer_img {
    display: none;
  }

  @media ($mobile) {
    width: calc(100vw - 120px);
  }

  // @media ($mobile) {
  //   width: 142px;
  //   height: 170px;
  //   border-radius: 8px;
  //   @include padding(16px 0);

  //   .pool_icons {
  //     @include padding-bottom(12px);
  //     gap: 8px;

  //     .paragraph01 {
  //       @include font-size($font-size-sm);
  //     }

  //     div {
  //       img {
  //         width: 24px;
  //         height: 24px;

  //         &:first-child {
  //           margin-left: 6px;
  //         }
  //         &:last-child {
  //           margin-left: -6px;
  //         }
  //       }
  //     }
  //   }

  //   .pool_data {
  //     @include padding(12px 0);

  //     .paragraph06 {
  //       @include font-size($font-size-xxsm);
  //     }

  //     div {
  //       &:first-child {
  //         @include margin-bottom(8px);
  //       }
  //     }
  //   }

  //   .pool_footer {
  //     p {
  //       @include margin(12px 0 0);
  //     }
  //   }
  // }
}
.pool_theme {
  position: relative;

  background: linear-gradient(
    109.08deg,
    #cc9156 0%,
    #edc093 50.05%,
    #da9855 100.11%
  );
  .pool_footer > p,
  .pool_data > div > p,
  .pool_data > div > h5,
  .pool_icons > div > h5 {
    color: white;
    z-index: 1;
  }
  .footer_img {
    display: block;
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100%;
    img {
      width: 100%;
    }
  }
}
