@use "../../../core/theme/constants.scss" as *;

.mobile-footer {
    display: none;
    @media ($mobile) {
      display: flex;
    }

    @media ($tablet) {
      display: flex;
    }

    ul {
      display: none;
      @media ($mobile) {
        justify-content: space-between;
        display: flex;
        margin-bottom: 0;
        padding: 0;
      }

      @media ($tablet) {
        justify-content: space-between;
        display: flex;
        margin-bottom: 0;
        padding: 0;
      }

      a {
        text-decoration: none;
      }

      li {
        display: flex;
        font-weight: 600;
        padding: 2px 7px;
        font-size: 12px;
        align-items: center;
        color: var(--light-gray);
        margin: 0px 2px;

        span {
          margin-right: 4px;
        }

        @media ($tablet) {
          padding: 2px 30px;

        }
      }

      .active-tab {
        color: var(--sharp-blue);

        &:hover {
          color: var(--sharp-blue);
          background: var(--light-blue);
        }
      }
    }
  }