$mobile: "max-width: 600px";
$tablet: "600px < width <= 900px";

//font-weight
$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-heavy: 900;

//font size map values
$base-font-size: 16px;
$font-size-xxsm: $base-font-size - 6; // 10px
$font-size-xsm: $base-font-size - 4; // 12px
$font-size-sm: $base-font-size - 2; // 14px
$font-size-md: $base-font-size; // 16px
$font-size-lg: $base-font-size + 2; // 18px
$font-size-xlg: $base-font-size + 4; // 20px
$font-size-xxlg: $base-font-size + 6; // 22px
$font-size-xxxlg: $base-font-size + 8; // 24px

$font-size-lg-1: 28px;
$font-size-lg-2: 32px;
$font-size-lg-3: 36px;
$font-size-lg-4: 40px;
$font-size-lg-5: 48px;

//line hight map values
$line-height-sm: 1.2;
$line-height-base: 1.5;
$line-height-lg: 2;
