$light: (
 sharp-blue: #0045FF,
 mid-blue: #DBEAFF,
 light-blue: #E6EEF9,
 light-gray: #808080,
 border-gray: #F3F3F3,
 low-gray: #C4C4C4,
 dark-gray:#3B3B3B,
 pure-black:black,
 pure-white: #ffffff,
 light-green: #1ED130,
 light-teal: #00ADD2,
 light-red: #DB2438,
 box-shadow: '-1px -1px 3px #ECECEC, 1px 1px 1.3px #DCDCDC',
 bg-color: radial-gradient(51.86% 143.56% at 50.03% 30.06%, #E2EDFC 0.09%, #D8E7FC 0.1%, #EAF2FD 51.04%, #FFFFFF 73.96%)
);

$dark:(
  sharp-blue: #8196D1,
 mid-blue: #253871,
 light-blue: #253871,
 light-gray: #AAB0C3 ,
 border-gray: #2B3555,
 low-gray: #1F2127,
 dark-gray:#C3C7D5,
 pure-black:#FFFFFF,
 pure-white: #191F32,
 light-green: #1ED130,
 light-teal: #00ADD2,
 light-red: #DB2438,
 box-shadow: none,
 bg-color: #2B3555
);
