$light: (
 sharp-blue: #0045FF,
 light-blue: #E6EEF9,
 light-gray: #808080,
 dark-gray:#3B3B3B,
 pure-black:black,
 pure-white: #ffffff,
 light-green: #1ED130,
 light-red: #DB2438,
 box-shadow: '-1px -1px 3px #ECECEC, 1px 1px 1.3px #DCDCDC'
);

$dark:(
  sharp-blue: #0045FF,
  light-blue: #E6EEF9,
  light-gray: #808080,
  dark-gray:#3B3B3B,
  pure-black:black,
  pure-white: #ffffff,
  light-green: #1ED130,
  light-red: #DB2438,
  box-shadow: '-1px -1px 3px #ECECEC, 1px 1px 1.3px #DCDCDC'
);
