@import "/src/core/theme";

.dark {
  .app_container {
    .pool_carousel_container {
      // background: url("/src/assets/large-bg.svg");
      // background-color: red;
      // background-position: center;
      // background-repeat: no-repeat;
    }
  }
}
.pool_carousel_container {
  // width: 90%;
  margin: auto;

  .recent_pools {
    display: flex;
    width: 90%;
    padding: 36px 0% 0 9.2%;
    overflow: hidden;

    @media ($mobile) {
      padding: 36px 0% 0 12%;
      width: 84%;
    }
  }

  .carousel_row {
    padding-bottom: 48px;
    .title_sort_container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 88%;
      margin: 10px auto;
      h2 {
        margin: 0;
        color: var(--pure-black);
        font-size: $font-size-xlg;
      }
      // .sortBy{
      //     display: flex;
      //     width: 120px;
      //     cursor: pointer;
      //     background-color: var(--light-blue);
      //     border-radius: 5px;
      //     color: var(--light-gray);
      //     font-weight: 700;
      //     place-items: center center;
      //     justify-content: space-between;
      //     padding: 12px;
      //     p{
      //         margin: 0px 0px;
      //     }
      // }
    }

    .forwardBtnProps {
      display: inline-block;
      width: 36px;
      height: 36px;
      align-self: center;
      background-color: var(--main);
      border: none;
      border-radius: 8px;
      color: var(--always-white);
      cursor: pointer;
      &:disabled {
        cursor: not-allowed;
      }
      margin-left: 20px;
      @media ($mobile) {
        margin-left: 0px;
      }
    }
    .backwardBtnProps {
      width: 36px;
      height: 36px;
      align-self: center;
      background-color: var(--main);
      border: none;
      border-radius: 8px;
      color: var(--always-white);
      cursor: pointer;
      &:disabled {
        cursor: not-allowed;
      }
    }
    .forwardBtnProps,
    .backwardBtnProps {
      svg {
        position: absolute;
        top: 3px;
        left: 0px;
      }
      @media ($mobile) {
        width: 28px;
        height: 28px;

        svg {
          position: absolute;
          top: 2px;
          left: -2px;
          width: 20px;
          height: 20px;
        }
      }
    }
    .containerProps {
      // width: 100% !important ;
      width: 90% !important ;
      margin: auto;
      justify-content: space-between;
      @media ($mobile) {
        width: 90% !important;
      }
      flex-flow: nowrap !important;
    }
    .innerclass {
      max-width: 90% !important;
      overflow-y: visible !important;
    }
  }
}

.poolcard_div {
  padding: 10px 20px;
  @media ($mobile) {
    padding: 10px;
  }
  // .poolcard,
  // .skeleton_card {
  //   // min-width: 300px;
  //   @media ($mobile) {
  //     min-width: 280px;
  //   }
  // }
}
