@use "../../../core/theme/constants.scss" as *;
.user_dashboard_component {
  width: 100%;
  margin-bottom: 100px;
  .dashboardbanner {
    background-color: var(--sharp-blue);
    img {
      width: 100%;
    }
  }
  .user_portfolio {
    position: relative;
    top: -65px;
    width: 80%;
    margin: auto;
    @media ($mobile) {
      width: 90%;
    }
    .user_tittle {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
      h1 {
        color: var(--pure-white);
        font-size: 45px;
        font-weight: 700;
        margin: 0;
      }
      .search_address {
        width: 40%;
        height: 47px;
        border-radius: 5px;
        // color: var(--low-gray);
        // background: var(--pure-white);
        .ant-input {
          height: 47px;
          border: 0;
          border-radius: 0px 5px 5px 0px;
          background: var(--pure-white);
          color: var(--dark-gray);
          font-weight: 700;
          &:focus {
            box-shadow: none;
          }
        }
        .ant-input-group-addon {
          // color: var(--low-gray);
          background: var(--pure-white);
          border: 0;
          border-radius: 5px 0px 0px 5px;
          .anticon {
            color: var(--pure-black);
          }
        }
      }
    }

    @media screen and ($tablet) {
      top: -55px;
      .user_tittle {
        h1 {
          font-size: 40px;
        }
      }
    }
    @media screen and ($mobile) {
      top: -55px;
      .user_tittle {
        // flex-direction: column;
        // h1{
        //   font-size: 30px;
        // }
        .search_address {
          width: 50%;
          .ant-input {
            height: 30px;
          }
        }
        h1 {
          font-size: 20px;
        }
      }
    }
    .lend_borrow_portfolio_container {
      width: 100%;
      height: 500px;
      background-color: var(--pure-white);
      margin: 10px auto;
      border-radius: 10px;
      box-shadow: var(--box-shadow);
      padding: 35px 50px;
      .header {
        display: flex;
        justify-content: space-between;
        .analytics_tabs {
          display: flex;
          display: grid;
          grid-template-columns: repeat(4, 25%);
          width: 65%;
          // justify-content: space-between;
          // flex-wrap: wrap;
          .analytic_box {
            display: flex;
            .icon_box {
              min-width: 35px;
              width: 35px;
              height: 35px;
              background: var(--sharp-blue);
              color: var(--pure-white);
              display: grid;
              place-items: center;
              font-size: 25px;
              margin: 10px;
              border-radius: 5px;
            }
            .values {
              margin: 10px 5px;
              min-width: 60px;
              width: 60px;
              p,
              h5 {
                margin: 0;
                padding: 0;
              }
              p {
                font-size: 10px;
                color: var(--light-gray);
                margin-top: 2px;
              }
              h5 {
                font-size: 13px;
                color: var(--sharp-blue);
                margin-top: 5px;
                font-weight: 700;
              }
            }
          }
          .heath_factor {
            .values {
              min-width: 80px;
              width: 80px;
              h5 {
                color: var(--light-green);
              }
            }
          }

          @media ($tablet) {
            grid-template-columns: repeat(2, 50%);
          }
          @media ($mobile) {
            grid-template-columns: repeat(2, 50%);
            .analytic_box {
              .icon_box {
                display: none;
              }
            }
          }
        }
        h2 {
          color: var(--sharp-blue);
          font-size: 22px;
          font-weight: 700;
          margin: 5px 0px;
        }
        .network_dropdown {
          background-color: var(--light-blue);
          width: 130px;
          height: 40px;
          border-radius: 5px;
          display: grid;
          place-items: center center;
          p {
            margin: 0;
            color: var(--light-gray);
          }
        }
      }

      .content {
        display: flex;

        height: 80%;
        gap: 30px;
        margin-top: 20px;
        .lend_container,
        .borrow_container {
          width: 50%;
          height: 100%;
          border-radius: 10px;
          box-shadow: var(--box-shadow);

          & > div {
            // border: 1px solid red;
            padding: 15px;
            &:first-child {
              height: 80%;
              & > div {
                height: 100% !important;
                @media ($mobile) {
                  height: 200px !important;
                }
              }
            }
            &:last-child {
              height: 20%;
              display: flex;
              justify-content: space-between;
              align-items: center;
              text-align: center;
              border-top: 1px solid var(--border-gray);
              p {
                font-size: 10px;
                color: var(--light-gray);
                font-weight: 700;
              }
              h5 {
                font-size: 12px;
                color: var(--dark-gray);
                font-weight: 700;
              }
            }
            @media ($mobile) {
              padding: 15px 0px;
            }
          }
        }
      }
      @media screen and ($tablet) {
        height: max-content;
        .content {
          flex-direction: column;
          .lend_container,
          .borrow_container {
            width: 100%;
          }
        }
      }
      @media screen and ($mobile) {
        height: max-content;
        padding: 10px;
        .content {
          flex-direction: column;
          .lend_container,
          .borrow_container {
            width: 100%;
            padding: 10px;
          }
        }
      }
    }
    //wallet container css
    .wallet_container {
      .title_div {
        display: flex;
        justify-content: space-between;
        margin: 30px 0px;
        span {
          display: flex;
          gap: 10px;
          h2 {
            margin: 0;
            font-size: 30px;
            font-weight: 700;
            color: var(--sharp-blue);
          }
          .react_icons {
            color: var(--sharp-blue);
            font-size: 35px;
          }
        }
        h2 {
          margin: 0;
          font-size: 22px;
          font-weight: 700;
          color: var(--sharp-blue);
        }
      }
      .wallet_table {
        width: 100%;
        // height: 300px;
        overflow: hidden;
        background-color: var(--pure-white);
        box-shadow: var(--box-shadow);
        border-radius: 10px;
        padding: 30px;

        .thead,
        .tbody_row {
          display: flex;
          span {
            font-size: 13px;
            font-weight: 700;
            color: var(--dark-gray);
            width: 30%;
            &:first-child {
              width: 50%;
            }
            &:last-child {
              width: 20%;
            }
          }
        }
        .tbody_row{
          margin-bottom: 10px;
        }
        .row_skeleton{
          padding: 25px 0px !important;
        }
        .tbody {
          margin: 30px 0px;
          margin-bottom: 10px;
          .tbody_row {
            padding: 15px 0px;
            border-bottom: 1px solid var(--border-gray);
            span {
              display: flex;
              color: var(--light-gray);
              p {
                margin: 5px;
                font-size: 12px;
                font-weight: 600;
                color: var(--light-gray);
              }
              img {
                width: 25px;
                height: 25px;
              }
            }
          }
        }
      }

      @media ($mobile) {
        .title_div {
          span {
            .react_icons {
              font-size: 25px;
            }
            img {
              width: 25px;
            }
            h2 {
              font-size: 22px;
            }
          }
        }
        .wallet_table {
          .thead,
          .tbody_row {
            span {
              &:first-child {
                width: 60%;
              }
              &:nth-child(2),
              &:nth-child(4) {
                display: none;
              }
            }
          }
        }
      }
    }
    //Lending table
    .lending_container {
      @extend .wallet_container;

      .lending_table {
        width: 100%;

        background-color: var(--pure-white);
        box-shadow: var(--box-shadow);
        border-radius: 10px;
        padding: 30px;
        min-height: 500px;
        @media ($mobile) {
          padding: 15px;
        }
        .toggle_tabs {
          .tab_btn {
            margin: 0px;
            margin-right: 30px;
            margin-bottom: 30px;
            width: 100px;
            font-weight: 700;
            background: var(--pure-white);
            color: var(--sharp-blue);
            border: 1px solid var(--sharp-blue);
          }
          .active_tab {
            background: var(--sharp-blue);
            color: var(--pure-white);
          }
          @media ($mobile) {
            .tab_btn {
              margin-right: 15px;
            }
          }
        }

        .action_container {
          height: 50px;
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .input_container {
            height: 100%;
            display: grid;
            place-items: center center;
            margin: 0px;
            width: 30%;

            input {
              padding: 12px;
              width: 100%;
              outline: none;
              border: 0px;
              background-color: var(--light-blue);
              border-radius: 5px;
              font-weight: 700;
              color: var(--dark-gray);
              &::placeholder {
                font-weight: 700;
                color: var(--light-gray);
              }
              &:disabled {
                cursor: not-allowed;
                background-color: var(--border-gray);
              }
            }
            @media ($mobile) {
              width: 150px;
              margin: 0;
            }
          }

          // .sortBy {
          //   display: flex;
          //   width: 120px;
          //   cursor: pointer;
          //   background-color: var(--light-blue);
          //   border-radius: 5px;
          //   color: var(--light-gray);
          //   font-weight: 700;
          //   place-items: center center;
          //   justify-content: space-between;
          //   padding: 12px;
          //   p {
          //     margin: 0px 0px;
          //   }
          //   @media ($mobile) {
          //     width: 95px;
          //   }
          // }
          .disableSort {
            background-color: var(--border-gray);
            cursor: no-drop;
          }
          // .anticon {
          //   color: var(--light-gray);
          // }
        }

        .thead,
        .tbody_row {
          display: flex;
          margin-top: 20px;
          span {
            font-size: 13px;
            font-weight: 700;
            color: var(--dark-gray);
            width: 30%;
            &:first-child {
              width: 60%;
            }
            // &:last-child{
            //   width: 0% !important;
            //   text-align: center;
            // }

            &:nth-child(7),
            &:nth-child(8),
            &:nth-child(9),
            &:nth-child(10) {
              display: none !important;
            }

            @media ($tablet) {
              &:first-child {
                width: 30%;
              }
              &:nth-child(1),
              &:nth-child(2),
              &:nth-child(3),
              &:nth-child(4),
              &:nth-child(5),
              &:nth-child(6) {
                display: none !important;
              }
              &:nth-child(7),
              &:nth-child(8),
              &:nth-child(9),
              &:nth-child(10) {
                display: block !important;
              }
            }

            @media ($mobile) {
              &:first-child {
                width: 30%;
              }
              &:nth-child(1),
              &:nth-child(2),
              &:nth-child(3),
              &:nth-child(4),
              &:nth-child(5),
              &:nth-child(6) {
                display: none !important;
              }
              &:nth-child(7),
              &:nth-child(8),
              &:nth-child(9),
              &:nth-child(10) {
                display: block !important;
              }
            }
          }
        }
        .tbody {
          margin: 10px 0px;
          overflow: hidden;
          .tbody_row {
            padding: 15px 0px;
            border-bottom: 1px solid var(--border-gray);
            span {
              display: flex;
              color: var(--light-gray);
              p {
                margin: 5px;
                font-size: 12px;
                font-weight: 600;
                color: var(--light-gray);
              }
              img {
                width: 25px;
                height: 25px;
              }
            }
          }
        }
      }
    }
  }
}

.sort_dropDown {
  // position: absolute;
  // width: 137px;
  // height: 85px;
  // background: #ffffff;
  // box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.08),
  //   2px 2px 2px rgba(0, 0, 0, 0.13);
  // border-radius: 7px;
  // padding: 10px 8px;
  // top: 107px;
  // right: 15px;
  .ant-popover-arrow {
    display: none;
  }
  .ant-popover-inner-content {
    padding: 5px;
    border-radius: 5px;
  }
  .ant-popover-inner {
    border-radius: 5px;
  }
  .sort_popover {
    width: 110px;
    p {
      width: 100%;
      padding: 10px;
      font-weight: 400;
      font-size: 13px;
      line-height: 10px;
      text-align: center;
      color: var(--light-gray);
      margin: 5px 0px;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        background-color: var(--mid-blue);
      }
    }
    .activeSort {
      background-color: var(--mid-blue);
    }
  }
}

.hide_for_monitor {
  display: none !important;
}
@media ($mobile) {
  .hide_for_mobile {
    display: none !important;
  }
  .hide_for_monitor {
    display: block !important;
  }
}
