@import "/src/core/theme";

.dark {
  .app_container {
    background: unset;
    // background: url("/src/assets/blue-bg.svg");
    background: url("/src/assets/large-bg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.light {
  .app_container {
    background: unset;
    // background: url("/src/assets/light-bg.svg");
    background: url("/src/assets/light-bg-pool.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.proposal_component {
  max-width: 760px;
  width: 100%;
  margin: 68px auto 0;
  padding: 24px;
  background-color: var(--dark-bg);

  @media only screen and (max-width: 768px) {
    width: calc(100% - 32px);
    margin: 32px 16px 0;
  }
  svg {
    color: var(--pure-black);
    width: 20px;
    height: 20px;
  }
  .proposal_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
      display: flex;
      gap: 8px;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      svg {
        min-width: 20px;
        flex: 0.1;
      }
      p {
        font-size: $font-size-md;
      }
    }

    .executed {
      width: 100px;
      height: 40px;
      margin: 0;
      border: 1px solid var(--light-green);
      text-align: center;
      padding: 10px;
      border-radius: 8px;
      color: var(--light-green);
      cursor: pointer;
    }
  }

  .proposal_title {
    margin: 24px 0;
    p {
      color: var(--light-gray);
      margin-top: 20px;
    }
  }

  .voting_data {
    display: flex;
    justify-content: space-between;
    margin: 24px 0;
    // height: 290px;

    p {
      width: 248px;
      display: flex;
      justify-content: space-between;
      margin: 16px;
      padding-bottom: 16px;
      &:first-child {
        border-bottom: 4px solid var(--main);
      }

      &:last-child {
        border-bottom: 4px solid var(--main-light-low);
      }
    }

    @media ($mobile) {
      flex-direction: column;
    }
  }

  a {
    text-decoration: none;
    font-size: $font-size-sm;
    color: var(--main);
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  strong {
    white-space: normal;
    color: var(--pure-black);
    word-break: break-all;
  }

  p {
    margin: 16px 0;
    font-size: $font-size-sm;
  }
  h1 {
    font-size: $font-size-lg-1;
    margin: 20px 0;
  }
  h2 {
    font-size: $font-size-xxxlg;
    margin: 16px 0;
  }
  h3 {
    font-size: $font-size-xlg;
  }

  ul {
    li {
      font-size: $font-size-sm;
      color: var(--pure-black);
      font-weight: $font-weight-regular;
    }
  }
  strong {
    font-size: $font-size-sm;
    font-weight: $font-weight-bold;
  }
}
