@import "/src/core/theme";
.skeleton_card {
  width: 300px;
  height: 272px;
  border-radius: 12px;
  box-shadow: var(--box-shadow) !important;
  background-color: white;
  background-color: var(--low-dark-bg);
  @include padding(28px 0);
  cursor: pointer;
  transition: all 0.5s;
  &:hover {
    transform: scale(1.05);
  }
  .pool_icons {
    @include padding-bottom(24px);
    border-bottom: 0.35px solid var(--pure-black);
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    .div {
      display: flex;

      div {
        width: 40px;
        height: 40px;
        border-radius: 50%;

        &:first-child {
          margin-left: 12px;
        }
        &:last-child {
          margin-left: -12px;
        }
      }
    }
  }
  .pool_data {
    border-bottom: 0.35px solid var(--pure-black);
    @include padding(20px 0);
    .div1 {
      display: flex;
      width: 76%;
      margin: auto;
      align-items: center;
      justify-content: space-between;

      &:first-child {
        @include margin-bottom(16px);
      }
      .skeleton {
        text-align: center;
        height: 20px;
        width: 100%;
      }
    }
  }
  .pool_footer {
    text-align: center;
    @include font-size($font-size-xsm);
    display: flex;
    align-items: center;
    justify-content: center;
    div {
      width: 30%;
      height: 16px;
      margin: 10px;
    }
  }
}
