// @use "../../../core/theme/constants.scss" as *;
@import "/src/core/theme";
.pool_list_skeleton_container {
  width: 80%;
  margin: auto;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(3, calc(100% / 3));
  justify-content: space-between;
  .skeleton_card {
    width: 272px;
    height: 308px;
    border-radius: 12px;
    box-shadow: var(--box-shadow) !important;
    background-color: white;
    background-color: var(--low-dark-bg);
    margin-bottom: 24px;
    @include padding(28px 0);
    cursor: pointer;
    transition: all 0.5s;
    &:hover {
      transform: scale(1.05);
    }
    .pool_icons {
      @include padding-bottom(24px);
      border-bottom: 0.35px solid var(--pure-black);
      height: 100px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 16px;
      .div {
        display: flex;

        div {
          width: 56px;
          height: 56px;
          border-radius: 50%;

          &:first-child {
            margin-left: 12px;
          }
          &:last-child {
            margin-left: -12px;
          }
        }
      }
    }
    // .pool_data {
    //   display: flex;
    //   height: 35%;
    //   .div1 {
    //     width: 50%;
    //     border-bottom: 1px solid var(--border-gray);
    //     &:first-child {
    //       border-right: 1px solid var(--border-gray);
    //     }
    //     div {
    //       margin: 20px;
    //       text-align: center;
    //       height: 30px;
    //       width: 80%;
    //     }
    //   }
    // }

    .pool_data {
      border-bottom: 0.35px solid var(--pure-black);
      @include padding(24px 0);
      .div1 {
        display: flex;
        width: 76%;
        margin: auto;
        align-items: center;
        justify-content: space-between;

        &:first-child {
          @include margin-bottom(16px);
        }
        .skeleton {
          text-align: center;
          height: 20px;
          width: 100%;
        }
      }
    }
    .pool_footer {
      text-align: center;
      @include font-size($font-size-xsm);
      display: flex;
      align-items: center;
      justify-content: center;
      @include margin(24px 0 0);
      div {
        width: 30%;
        height: 16px;
        margin: 10px;
      }
    }
  }

  @media (1520px < width) {
    grid-template-columns: repeat(4, calc(100% / 4));
  }

  @media ($tablet) {
    grid-template-columns: repeat(2, calc(100% / 2));
  }

  @media ($mobile) {
    grid-template-columns: repeat(1, 100%);
  }
}
