@use '../../../core/theme/constants.scss' as *;
.pool_list_skeleton_container{
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(3, calc(100%/3) );
    justify-content: space-between;
    div{
        margin: 10px;
        height: 200px;
        border-radius: 15px;
        box-shadow: var(--box-shadow);
        width: inherit;
    }

    @media (1520px < width){
        grid-template-columns: repeat(4, calc(100%/4) );
    }

    @media ($tablet) {
        grid-template-columns: repeat(2, calc(100%/2));
    }

    @media ($mobile){
        grid-template-columns: repeat(1, 100%);
    }
}