@import "/src/core/theme";
.manage_token_container {
  display: flex;
  width: 80%;
  justify-content: center;
  margin-top: 50px;
  margin: auto;
  margin-bottom: 20px;
  @media only screen and (max-width: 768px) {
    // width: 60%;
    height: auto;
  }
}
.antd_modal_overlay {
  width: 430px !important;
  .ant-modal-content {
    border-radius: 16px;
    background: var(--dark-bg) !important;
    .ant-modal-body {
      padding: 0;
    }
  }
}
.manage_token_component {
  width: 40%;
  height: 100%;
  background-color: var(--dark-bg);
  box-shadow: var(--box-shadow);
  min-width: 650px;
  border-radius: 80px;
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 10px;
  color: var(--dark-gray);
  .section {
    width: 38%;
    overflow: hidden;
    height: 100%;
    display: flex;
    align-items: center;

    &:last-child {
      width: 23%;
      box-shadow: none;
      border: 0px;
      @media only screen and (max-width: 768px) {
        width: 45%;
      }
    }
    h3 {
      width: fit-content;
      border: 0px;
      text-align: center;
      margin: 0px 16px 0 12px;
      font-size: $font-size-md;
      color: var(--always-white);
      cursor: pointer;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      @media only screen and (max-width: 768px) {
        font-size: $font-size-sm;
      }

      @media only screen and (max-width: 600px) {
        margin: 0px 8px 0 4px;
        font-size: $font-size-xsm;
      }
    }
    h5 {
      font-size: $font-size-md;
      color: var(--pure-black);
      text-align: center;
      margin: 13px 0;
      width: 100%;
      cursor: pointer;
      &:hover {
        color: var(--main-light);
      }
      @media only screen and (max-width: 768px) {
        font-size: $font-size-sm;
        margin-top: 8px;
      }

      @media only screen and (max-width: 600px) {
        font-size: $font-size-xsm;
      }
    }

    @media only screen and (max-width: 768px) {
      height: auto;
    }

    @media only screen and (max-width: 420px) {
      width: 45%;
      height: auto;
    }

    svg {
      color: var(--always-white);
    }
  }
  .selector {
    display: flex;
    color: var(--dark-gray);
    height: 60px;
    border: 1px solid var(--button-border);
    background-color: var(--main);
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    width: 232px;
    .token_div {
      display: flex;
      width: 85%;
      padding-left: 30px;
      img {
        width: 30px;
        height: 30px;
        margin: 0px 5px;
        @media only screen and (max-width: 768px) {
          width: 17px;
          height: 17px;
        }
      }
      h3 {
        text-align: left;
        margin: 5px;
      }
      @media only screen and (max-width: 768px) {
        padding-left: 10px;
      }
    }

    @media only screen and (max-width: 992px) {
      width: 34%;
    }

    // @media only screen and (max-width: 768px) {
    //   justify-content: center;
    //   height: 48px;
    //   width: 176px;
    // }

    @media only screen and (max-width: 600px) {
      justify-content: center;
      height: 32px;
      width: 120px;
    }
  }

  @media only screen and (max-width: 992px) {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    min-width: auto;
  }

  @media only screen and (max-width: 768px) {
    width: 100%;
    border-radius: 16px;
    padding: 24px 10px 0;
    height: auto;
  }
}

.select_token_modal {
  // overflow: hidden;
  height: 550px;
  .search_token {
    padding: 30px 30px 10px;
  }
  h3 {
    margin-bottom: 20px;
    display: flex;
  }
  .input_container {
    display: flex;
    align-items: center;
    background: var(--low-dark-bg);
    width: 100%;
    border-radius: 12px;
    padding: 12px 12px 12px 24px;

    input {
      border: none;
      padding: 0;
      color: var(--pure-black);
      font-size: $font-size-md;
      outline: none;
      background: transparent;
      &::placeholder {
        color: var(--light-gray);
      }
    }

    svg {
      color: var(--light-gray);
      width: 18px;
      height: 18px;
      margin: 0 20px 0 0;
    }
  }
  .token_list {
    overflow-y: scroll;
    height: 400px;
    margin-top: 10px;
    padding: 30px;
    padding-top: 0px;
    h2 {
      width: 100%;
      text-align: center;
    }
  }
}

.token-card {
  width: 100%;
  height: 55px;
  cursor: pointer;
  margin: 10px 0px;
  display: flex;
  border-radius: 12px;
  img {
    width: 36px;
    height: 36px;
    margin: 10px 15px;
    border-radius: 50%;
  }
  div {
    h3 {
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: var(--pure-black);
      font-size: $font-size-lg;
      font-weight: $font-weight-medium;
      margin: 8px 0 -8px;
    }
    span {
      font-size: $font-size-xsm;
      color: var(--light-gray);
    }
  }
  &:hover {
    background: var(--main);
  }
}

.active_apiToken {
  background-color: var(--low-dark-bg);
  color: var(--pure-black);
  font-weight: $font-weight-medium;
  div {
    h3 {
      color: var(--pure-black);
    }
    span {
      color: var(--light-gray);
    }
  }

  &:hover {
    background-color: var(--main);
  }
}
.apitokenlist {
  justify-content: space-between;
  background-color: var(--low-dark-bg);
  .token_info {
    display: flex;
    img {
      border-radius: 50%;
    }
    div {
      h3 {
        color: var(--pure-black);
        margin: 8px 0 0;
        font-weight: $font-weight-medium;
        font-size: $font-size-lg;
        line-height: $line-height-sm;
        text-transform: capitalize;
      }
    }
  }
  .radio_Button {
    display: flex;
    align-items: center;
    margin: 0 10px;
    .switch {
      background-color: var(--light-green);
      span,
      svg {
        color: var(--main);
      }
    }
  }

  &:hover {
    background-color: var(--main);

    .token_info {
      div {
        h3 {
          color: white;
        }
      }
    }
  }
}

.customtokens {
  justify-content: space-between;
  display: none;
  .token_info {
    display: flex;
    div {
      h3 {
        margin: 0px;
      }
    }
  }
  .actionButtons {
    display: flex;
    align-items: center;
    margin: 0px 10px;
    button {
      padding: 5px 20px;
    }
    div {
      display: flex;
      align-items: center;
      img {
        width: 18px;
        margin: 8px;
        color: #545454;
      }
      p {
        margin-top: 15px;
        margin-right: 10px;
        padding: 0px;
        font-size: 12px;
        color: #545454;
        font-weight: 700;
      }
    }
    //  .space_between{
    //   img{
    //     margin: 0px;
    //     // margin-left: 15px;
    //     margin-right: 10px;
    //     &:first-child{
    //       margin-left: 5px;
    //     }
    //   }
    //  }
  }
}
.manage_token_modal {
  height: 550px;
  padding: 30px 0px;
  background-color: var(--dark-bg);
  .token_tabs {
    width: 86%;
    display: flex;
    justify-content: space-between;
    border-radius: 50px;
    padding: 0x;
    margin: auto;
    margin-bottom: 24px;
    padding: 4px;
    background-color: var(--low-dark-bg);

    h3 {
      width: 50%;
      text-align: center;
      margin: 5px;
      padding: 5px;
      border-radius: 50px;
      color: var(--pure-black);
      cursor: pointer;
      opacity: 0.95;
      &:hover {
        // color: var(--pure-black);
        opacity: 1;
      }
    }
    .active {
      background-color: var(--main);
      border: 0px;
      // color: var(--pure-black);
      color: var(--always-white);
    }
  }
  .search_token {
    display: flex;
    align-items: center;
    background: var(--low-dark-bg);
    width: 86%;
    margin: auto;
    border-radius: 12px;
    padding: 12px 12px 12px 24px;
    input {
      width: 100%;
      padding: 0px;
      color: var(--pure-black);
      background: transparent;
      outline: none;
      border: none;
      &::placeholder {
        color: var(--light-gray);
      }
    }
    svg {
      color: var(--light-gray);
      width: 18px;
      height: 18px;
      margin: 0 16px 0 0;
    }
  }
  .api_token_list,
  .customTokens_list {
    overflow-y: scroll;
    height: 340px;
    margin-top: 10px;
    padding: 30px;
    padding-top: 0px;
    h2 {
      width: 100%;
      text-align: center;
    }
    .custom_token_title {
      color: var(--pure-black);
      font-size: $font-size-lg;
      margin-top: 30px;
    }
  }
  .customTokens_list {
    margin-top: 0px;
  }
}

.center_content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
iframe {
  display: none;
}
