@import "/src/core/theme";

footer,
.footer_nav {
  // position: fixed;
  bottom: 0vh;
  display: flex;
  justify-content: space-between;
  // background-color: var(--pure-white);
  align-items: center;
  width: 100%;
  z-index: 2;
  padding: 20px 10px;
  // border-top: 1px solid var(--border-gray);
  //   color: var(--sharp-blue);
  color: var(--pure-black);

  a {
    color: var(--pure-black);
  }
  div {
    width: calc(100% / 3);
  }
}
.poolFooter-copyright {
  p {
    margin: 0px;
    text-align: center;
    font-weight: 600;
    color: var(--pure-black);
  }
}
.poolFooter-content {
  display: flex;
  justify-content: center;
  a {
    margin: 0px 10px;
    color: var(--pure-black);
    font-weight: 600;
    &:hover {
      color: var(--main-light);
    }
  }
}

.poolFooter-socials {
  div {
    display: flex;
    justify-content: space-evenly;
    width: 200px;
    margin: auto;
    a {
      color: var(--pure-black);
      cursor: pointer;
      &:hover {
        color: var(--main-light);
      }
    }
  }
}

.footer_nav {
  display: none;
}

@media ($tablet) {
  footer {
    display: none;
  }
  .footer_nav {
    display: flex;
    justify-content: space-evenly;
    a {
      color: var(--pure-black);
      padding: 5px;
      border-radius: 5px;
      font-size: 15px;
      font-weight: 600;
      display: flex;
      &:hover {
        background-color: var(--light-blue);
      }
    }
    .disable_route {
      color: var(--light-gray);
      &:hover {
        background-color: transparent;
        cursor: not-allowed;
      }
    }
    .active {
      color: var(--main-light);
    }
  }
}

@media ($mobile) {
  footer {
    display: none;
  }
  .footer_nav {
    display: flex;
    justify-content: space-evenly;
    a {
      padding: 5px;
      border-radius: 5px;
      font-size: 15px;
      font-weight: 600;
      display: flex;
    }
    .disable_route {
      color: var(--light-gray);
      &:hover {
        background-color: transparent;
        cursor: not-allowed;
      }
    }
    .active {
      color: var(--main-light);
    }
  }
}
