@import "/src/core/theme";

.dark {
  .app_container {
    background: unset;
    background: url("/src/assets/blue-bg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.vote_container {
  width: 100%;
  overflow: hidden;
  // .vote_banner {
  //   background-color: var(--sharp-blue);
  //   img {
  //     width: 100%;
  //   }
  // }
  .vote_content {
    width: 80%;
    margin: 48px auto;
    min-height: 500px;
    position: relative;
    overflow: hidden;

    .user_info {
      width: 98%;
      margin: 8px auto 0;
      background: var(--dark-bg);
      height: 150px;
      border-radius: 16px;
      display: flex;
      box-shadow: var(--box-shadow);

      div:nth-child(1) {
        cursor: pointer;
      }

      div {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        padding: 40px 0px;
        h2,
        p {
          margin: 0px;
          padding: 0px;
        }
        h2 {
          color: var(--main-light);
        }
        p {
          color: var(--pure-black);
        }
        span {
          color: var(--pure-black);
          font-size: $font-size-sm;
        }

        .total_balance {
          display: flex;
          flex-direction: row;
          padding: 0;
          height: 18px;
          align-items: flex-start;

          svg {
            width: 20px;
            height: 20px;
            color: var(--pure-black);
          }
        }

        .address_with_copy {
          display: flex;
          flex-direction: row;
          padding: 0;
          gap: 6px;
          max-height: 34px;

          svg {
            width: 20px;
            height: 20px;
            cursor: pointer;
            color: var(--main-light);
          }
        }
      }
      @media ($tablet) {
        height: 100px;

        div {
          padding: 15px 0px;
          h2 {
            font-size: $font-size-xlg;
          }
          p {
            font-size: $font-size-xsm;
          }
          span {
            font-size: $font-size-xxsm;
          }
          .total_balance {
            svg {
              width: 15px;
              height: 15px;
            }
          }
          .address_with_copy {
            gap: 4px;
            max-height: 24px;
            svg {
              width: 15px;
              height: 15px;
            }
          }
        }
      }
      @media ($mobile) {
        width: 96%;
        margin: 8px auto 0;
        height: 70px;
        box-shadow: var(--box-shadow);
        div {
          padding: 15px 0px;
          h2 {
            font-size: $font-size-xsm;
          }
          p {
            font-size: $font-size-xxsm;
          }
          span {
            font-size: $font-size-xxsm;
          }

          .total_balance {
            svg {
              width: 12px;
              height: 12px;
            }
          }

          .address_with_copy {
            max-height: 14px;
            svg {
              width: 12px;
              height: 12px;
            }
          }
        }
      }
    }
    .operation {
      background: var(--dark-bg);
      width: 80%;
      min-width: 400px;
      margin: 30px auto;
      height: max-content;
      border-radius: 16px;
      box-shadow: var(--box-shadow);
      padding: 50px;
      min-height: 400px;
      .tabs {
        width: 60%;
        min-width: 400px;
        margin: 0px auto;
        height: 50px;
        display: flex;
        justify-content: space-between;
        padding: 7px;
        border-radius: 16px;
        background-color: var(--low-dark-bg);
        gap: 5px;
        div {
          width: 25%;
          min-width: max-content;
          display: grid;
          place-items: center;
          text-align: center;
          border-radius: inherit;
          color: var(--pure-black);
          padding: 5px 10px;
          font-size: $font-size-sm;
          cursor: pointer;
          &:hover {
            color: var(--main-light);
          }
        }
        .active_tab {
          background: var(--dark-button);
          color: var(--main-light);
          border: 1px solid var(--button-border);
        }
      }
      .operation_content_container {
        display: flex;
        justify-content: space-between;
        height: 250px;
        & > div {
          width: 35%;
          margin: 20px;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
        .info {
          p {
            text-align: justify;
            min-width: 90%;
          }
          h2 {
            color: var(--main-light);
            margin: 0 0 24px;
          }
        }
        .action {
          .amount_input_wraper {
            position: relative;
            input {
              width: 100%;
              background: var(--low-dark-bg);
              color: var(--pure-black);
              padding: 4px 52px 4px 12px;
              margin-bottom: 20px;
              border-radius: 12px;
            }
            .max_btn {
              position: absolute;
              right: -6px;
              top: 5px;
              width: 52px;
              height: 30px;
              font-size: $font-size-xxsm;
              background: var(--dark-bg);
              color: var(--main-light);
              border-radius: 16px;
              border: 2px solid var(--button-border);
              margin: 10px;
              &:hover {
                cursor: pointer;
                color: var(--main-light);
              }
            }
          }
          .domain_data {
            display: flex;
            height: 12px;
            gap: 8px;
            align-items: center;
            .domain_value {
              width: fit-content;
              color: var(--light-green);
              font-size: $font-size-xsm;
              margin: 0;
              height: 14px;
              margin: 0 0 2px 22px;
            }
            svg {
              width: 12px;
              height: 12px;
              cursor: pointer;
              color: var(--light-green);
            }
          }
          .invalid_add {
            color: var(--light-red);
            margin: 0;
            height: 14px;
            font-size: $font-size-sm;
            margin: 4px 0 4px 10px;
          }
          input,
          button {
            width: 100%;
            margin: 10px;
            height: 40px;
            border-radius: 5px;
          }
          input {
            background: var(--low-dark-bg);
            color: var(--pure-black);
            border: none;
            padding: 4px 12px;
            border-radius: 12px;
            &:focus,
            &:hover {
              box-shadow: none;
              border: none;
            }
          }
          button {
            background: var(--main);
            color: var(--pure-black);
            border: none;
            border-radius: 16px;
            &:disabled {
              background: var(--low-dark-bg);
              color: var(--light-gray);
            }
          }
        }
      }
      @media ($tablet) {
        width: 100%;
        padding: 30px;
        .operation_content_container {
          div {
            h2 {
              font-size: $font-size-xlg !important;
            }
          }
        }
      }
      @media ($mobile) {
        width: 96%;
        padding: 15px;
        min-width: 0px;
        min-height: 410px;
        .tabs {
          width: 100%;
          margin: 0px auto;
          height: 50px;
          min-width: 0px;
          div {
            font-size: $font-size-xxsm;
            min-width: 0px;
            width: auto;
          }
        }
        .operation_content_container {
          flex-direction: column;
          height: max-content !important;
          & > div {
            width: 100%;
            display: flex;
            margin: 10px 0px;
            flex-direction: column;
            text-align: center;
            h2 {
              font-size: $font-size-xlg !important;
              text-align: center;
            }
            p {
              width: 90% !important;
              margin: auto;
            }
          }
          .action {
            .domain_data {
              width: fit-content;
              .domain_value {
                margin: 0 0 4px 12px;
              }
            }
            input,
            button {
              width: 100%;
              margin: 10px 0px;
              height: 40px;
              border-radius: 5px;
            }
          }
        }
      }
    }
    .vote_info {
      width: 80%;
      margin: 10px auto;
      background: var(--dark-bg);
      box-shadow: var(--box-shadow);
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: max-content;
      padding: 20px 30px;
      border-radius: 16px;
      div {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        img {
          width: 70%;
        }
        h2 {
          color: var(--main-light);
        }
        p {
          color: var(--pure-black);
          margin: 24px 0 0;
          text-align: justify;
        }
        button {
          margin-top: 24px;
          min-width: fit-content;
          width: 186px;
          color: var(--always-white);
          border: none;
          border-radius: 16px;
          padding: 5px 10px;
          font-size: $font-size-sm;
          background-color: var(--main);
        }
      }
      @media ($tablet) {
        width: 100%;
        div {
          h2 {
            font-size: $font-size-xlg;
          }
        }
      }
      @media ($mobile) {
        width: 96%;
        flex-direction: column;
        min-height: max-content;
        padding: 10px;
        div {
          width: 100%;
          margin: 10px;
          align-items: center;
          h2 {
            font-size: $font-size-xlg;
            text-align: center;
          }
          p {
            width: 90%;
          }
          button {
            width: 100%;
          }
        }
      }
    }
    @media ($mobile) {
      width: 90%;
      top: -10vw;
    }
  }
}
.app {
  margin-bottom: 0px;
}

.total_balance_popover {
  border-radius: 5px;
  .ant-popover-arrow {
    display: none;
  }
  .ant-popover-inner-content {
    padding: 32px;
    border-radius: 16px;
    border-image-source: var(--popup-border);
    outline: none;
    width: 100%;
    $border: 0.9px;
    color: #fff;
    background: var(--popup-back-color);
    background-clip: padding-box; /* !importanté */
    border: solid $border transparent; /* !importanté */
    border-radius: 16px;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -$border; /* !importanté */
      border-radius: inherit; /* !importanté */
      background: var(--popup-border);
    }
  }

  .ant-popover-open {
    padding: 0;
  }
  .ant-popover-inner {
    border-radius: 16px !important;
    background: var(--popup-back-color);
    border: var(--popup-border);
    box-shadow: 11.36967px 12.31714px 18.94944px -0.94747px rgba(0, 0, 0, 0.11);
    backdrop-filter: blur(12.5px);
  }

  @media ($tablet) {
    .ant-popover-inner-content {
      padding: 16px;
      border-radius: 8px;
    }
    .ant-popover-inner {
      border-radius: 8px;
    }
  }

  @media ($mobile) {
    .ant-popover-inner-content {
      padding: 12px;
      border-radius: 4px;
    }
    .ant-popover-inner {
      border-radius: 4px;
    }
  }

  .balance_popover_container {
    width: fit-content;
    height: 58px;

    .balance_popover_item {
      display: flex;
      align-items: center;
      gap: 4px;
      margin-bottom: 8px;

      img {
        width: 27px;
        height: 20px;
      }

      p {
        font-size: $font-size-lg;
        color: var(--light-back-colour);
        font-weight: $font-weight-bold;

        margin: 0;
        letter-spacing: 2px;
        .uft_span {
          margin-right: 20px;
        }

        .uftg_span {
          margin-right: 8px;
        }
      }
    }

    @media ($tablet) {
      height: 48px;

      .balance_popover_item {
        margin-bottom: 4px;
        img {
          width: 20px;
          height: 14px;
        }

        p {
          font-size: $font-size-md;

          .uft_span {
            margin-right: 18px;
          }

          .uftg_span {
            margin-right: 8px;
          }
        }
      }
    }

    @media ($mobile) {
      height: 40px;

      .balance_popover_item {
        margin-bottom: 6px;
        img {
          width: 16px;
          height: 11px;
        }

        p {
          font-size: $font-size-xxsm;

          .uft_span {
            margin-right: 16px;
          }

          .uftg_span {
            margin-right: 8px;
          }
        }
      }
    }
  }
}

.copy_popover {
  .ant-popover-content {
    width: fit-content;
    // height: 24px;
    border: none;
    outline: none;
    box-shadow: none;

    .ant-popover-arrow {
      border: none;
      box-shadow: none;

      width: 20px;
      height: 20px;

      .ant-popover-arrow-content {
        --antd-arrow-background-color: var(--dark-button);
        border: none;
        outline: none;
        box-shadow: none;
      }
    }

    .ant-popover-inner {
      background-color: var(--dark-button);
      box-shadow: var(--box-shadow);
    }

    .ant-popover-inner-content {
      padding: 2px 4px 2px;
      height: 24px;
      border: none;
      outline: none;
      box-shadow: none;
      color: var(--main-light);
    }
  }
}
