@use "../../../core/theme/constants.scss" as *;
.vote_container {
  width: 100%;
  overflow: hidden;
  .vote_banner {
    background-color: var(--sharp-blue);
    img {
      width: 100%;
    }
  }
  .vote_content {
    width: 80%;
    margin: 0px auto;
    min-height: 500px;
    position: relative;
    overflow: hidden;
    top: -15vw;
    .user_info {
      width: 100%;
      background: var(--pure-white);
      height: 150px;
      border-radius: 10px;
      display: flex;
      div {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        padding: 40px 0px;
        h2,
        p {
          margin: 0px;
          padding: 0px;
        }
        h2 {
          color: var(--sharp-blue);
          font-weight: 700;
          font-size: 22px;
        }
        p {
          color: var(--light-gray);
          font-size: 15px;
          font-weight: 600;
        }
        span {
          color: var(--low-gray);
          font-size: 12px;
        }
      }
      @media ($tablet) {
        height: 100px;
        
        div {
            padding: 15px 0px;
          h2 {
            font-size: 20px;
          }
          p {
            font-size: 12px;
          }
          span {
            font-size: 10px;
          }
        }
      }
      @media ($mobile) {
        height: 70px;
        box-shadow: var(--box-shadow);
        div {
          padding: 15px 0px;
          h2 {
            font-size: 12px;
          }
          p {
            font-size: 10px;
          }
          span {
            font-size: 8px;
          }
        }
      }
    }
    .operation {
      background: var(--pure-white);
      width: 80%;
      min-width: 400px;
      margin: 30px auto;
      height: max-content;
      border-radius: 10px;
      box-shadow: var(--box-shadow);
      padding: 50px;
      min-height: 400px;
      .tabs {
        width: 60%;
        min-width: 400px;
        margin: 0px auto;
        height: 50px;
        border: 1px solid var(--border-gray);
        display: flex;
        justify-content: space-between;
        padding: 7px;
        border-radius: 5px;
        gap: 5px;
        div {
          border: 1px solid var(--border-gray);
          width: 25%;
          min-width: max-content;
          display: grid;
          place-items: center;
          text-align: center;
          border-radius: inherit;
          color: var(--dark-gray);
          font-weight: 600;
          padding: 5px 10px;
          font-size: 15px;
          cursor: pointer;
          &:hover {
            color: var(--sharp-blue);
          }
        }
        .active_tab {
          background: var(--light-blue);
          color: var(--sharp-blue);
        }
      }
      .operation_content_container {
        display: flex;
        justify-content: space-between;
        height: 250px;
        div {
          width: 35%;
          margin: 20px;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
        .info {
          p {
            color: var(--low-gray);
            font-size: 12px;
            font-weight: 600;
            text-align: justify;
            min-width: 90%;
          }
          h2 {
            color: var(--sharp-blue);
            font-size: 25px;
            font-weight: 700;
          }
        }
        .action {
          input,
          button {
            width: 100%;
            margin: 10px;
            height: 40px;
            border-radius: 5px;
   
          }
          input {
            background: var(--light-blue);
            color: var(--light-gray);
            font-weight: 700;
            border: none;
            &:focus,
            &:hover {
              box-shadow: none;
              border: none;
            }
          }
          button {
            background: var(--sharp-blue);
            color: var(--pure-white);
            font-weight: 600;
            border: none;
            &:disabled{
                background: var(--light-blue);
                color: var(--low-gray);
            }
          }
        }
      }
      @media ($tablet) {
        width: 100%;
        padding: 30px;
        .operation_content_container {
          div {
            h2 {
              font-size: 20px !important;
            }
          }
        }
      }
      @media ($mobile) {
        width: 100%;
        padding: 15px;
        min-width: 0px;
        min-height: 410px;
        .tabs {
          width: 100%;
          margin: 0px auto;
          height: 50px;
          min-width: 0px;
          div {
            font-size: 10px;
            min-width: 0px;
            width: auto;
          }
        }
        .operation_content_container {
          flex-direction: column;
          height: max-content !important;
          div {
            width: 100%;
            display: flex;
            margin: 10px 0px;
            flex-direction: column;
            text-align: center;
            h2 {
              font-size: 20px !important;
            }
            p{
                width: 90% !important;
                margin: auto;
            }
          }
          .action {
            input,
            button {
              width: 100%;
              margin: 10px 0px;
              height: 40px;
              border-radius: 5px;
            }
          }
        }
      }
    }
    .vote_info {
      width: 80%;
      margin: 10px auto;
      background: var(--pure-white);
      box-shadow: var(--box-shadow);
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: max-content;
      padding: 20px 30px;
      div {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // display: grid;
        // justify-content: center;
        img {
          width: 70%;
        }
        h2 {
          color: var(--sharp-blue);
          font-weight: 800;
          font-size: 25px;
        }
        p {
          color: var(--low-gray);
          font-size: 12px;
          text-align: justify;
        }
      }
      @media ($tablet) {
        width: 100%;
        div {
          h2 {
            font-size: 20px;
          }
        }
      }
      @media ($mobile) {
        width: 100%;
        flex-direction: column;
        min-height: max-content;
        padding: 10px;
        div {
          width: 100%;
          margin: 10px;
          align-items: center;
          h2 {
            font-size: 20px;
            text-align: center;
          }
          p{
            width: 90%;
          }
        }
      }
    }
    @media ($mobile) {
      width: 90%;
      top: -10vw;
    }
  }
}
.app{
    margin-bottom: 0px;
}