@use '../../../core/theme/constants.scss' as *;

.nav_container{
    height: 70px;
    z-index: 1;
    display: none;
    background-color: var(--pure-white);
    box-shadow: 0px 2.00139px 4.00278px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    div{
        
        height: 100%;
    }

    .unilend_logo{
        width: 15%;
        display: grid;
        place-items: center center;
        img{
            width: 70%;
            min-width: 100px;
            cursor: pointer;
        }
    }

    .nav_routes{
        width: 50%;
        display: grid;
        place-items: center center;
        nav{
            display: flex;
            width: 80%;
            justify-content: space-evenly;
            a{
                color: var(--sharp-blue);
                padding: 5px;
                border-radius: 5px;
                font-size: 15px;
                font-weight: 600;
                display: flex;
                &:hover{
                    background-color: var(--light-blue);
                }
            }
            .disable_route{
               color: var(--light-gray);
               &:hover{
                background-color: transparent;
                cursor: not-allowed;

            }
            }
        }
    }
    .wallet_connection{
        width: 100%;
        display: flex;
        gap: 10px;
        justify-content: end;
        align-items: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        div{
          height: max-content;
          width: max-content;
          height: 40px;
          white-space: nowrap;
          padding: 0px 5px;
          overflow: hidden;
          text-overflow: ellipsis;
          background-color: var(--mid-blue);
          border-radius: 5px;
          display: flex;
          align-items: center;
          cursor: pointer;
          p{
            margin: 5px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: noWrap;
            font-size: 12px;
            font-weight: 600;
            color: var(--light-gray);
          }
          div{
            margin: 5px;
            padding: 10px;
            height: 30px;
            background-color: var(--pure-white);
            border-radius: 5px;
            font-size: 13px;
            color: var(--light-gray);
          }
        }
    }

    .hamberger{
        display: none;  
    }


    @media ($tablet) {
        .last_container{
            display: flex;
            width: 70%;
        }
        .nav_routes{
            display: none;
        }
       .hamberger{
        display: block;
        display: grid;
        margin: 0px 10px;
        place-items: center center;
        cursor: pointer;
       }
    }
    @media ($mobile) {
        .last_container{
            display: flex;
            width: 70%;
        }
        padding: 0px;
        .nav_routes{
            display: none;
        }
       .hamberger{
        display: block;
        display: grid;
        margin: 0px 10px;
        place-items: center center;
        cursor: pointer;
       }
    }

}