@import "/src/core/theme";

.dark {
  .app_container {
    background: url("/src/assets/blue-bg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.light {
  .app_container {
    background: url("/src/assets/light-BG.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.pool_container {
  //Card Container
  width: 100%;
  max-width: 450px;
  padding: 48px 0;
  // padding: 5% 0;
  margin: 0 auto;
  height: max-content;

  .token_container {
    border-radius: 80px;
    margin: 10px 10px 32px;
    display: flex;
    gap: 10px;
    padding: 8px;
    justify-content: space-between;
    background-color: var(--dark-bg);
    box-shadow: var(--box-shadow);
    & > div {
      display: flex;
      width: 184px;
      border: 2px solid var(--button-border);
      border-radius: 102px;
      .token_tab {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        border-radius: 102px 0px 0px 102px;
        cursor: pointer;

        h2 {
          margin: 0;
          font-size: $font-size-md;
          color: var(--pure-black);
        }

        img {
          width: 25px;
          height: 25px;
          margin: 5px;
          border-radius: 50%;
        }
      }
      .dropdown {
        width: 35%;
        height: 100%;
        display: grid;
        place-content: center;
        border-radius: 0px 102px 102px 0px;
        background-color: var(--main);
        border-left: 2px solid var(--button-border);
        cursor: pointer;
        .dropicon {
          color: var(--always-white);
        }
      }
    }

    .active {
      background-color: var(--main);
      color: var(--always-white) !important;

      img {
        background-color: var(--always-white);
        padding: 3px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }

      h2 {
        color: var(--always-white) !important;
      }
    }
  }

  .content {
    //content box
    margin: 10px;
    background-color: var(--dark-bg);
    border-radius: 12px;
    height: fit-content;
    min-height: 200px;
    padding: 12px;
    box-shadow: var(--box-shadow);
    .oparation_tab {
      // Lend borrow tabs
      width: 100%;
      padding: 5px;
      margin: auto;
      display: flex;
      justify-content: space-between;
      gap: 5px;
      border-radius: 16px;
      background-color: var(--low-dark-bg);

      & > div {
        // border: 1px solid var(--light-blue);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 7px;
        width: 45%;
        border-radius: 16px;
        text-align: center;
        font-size: 12px;
        font-weight: 700;
        cursor: pointer;
        text-transform: capitalize;
        color: var(--pure-black);
      }

      .active {
        background-color: var(--dark-button);
        color: var(--pure-black);
        border: 2px solid var(--button-border);
      }
      .disable_tab {
        background-color: transparent;
        color: var(--light-gray);
        cursor: not-allowed;
      }
    }

    .user_liquidity {
      // user liquidity
      width: fit-content;
      margin: 20px auto;
      margin-bottom: 10px;

      .paragraph06 {
        color: var(--pure-black);
        margin: 5px;
        text-align: center;
      }

      .heading02 {
        color: var(--pure-black);
        margin: 0;
        text-align: center;
      }
    }

    .token_balance_container {
      // token balance
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;

      .lable {
        margin: 5px;
        font-size: 16px;
        font-weight: 700;
        color: var(--dark-gray);
        text-transform: capitalize;
        display: flex;
        gap: 5px;
      }

      .token_balance {
        div {
          display: flex;
          justify-content: end;

          img {
            width: 18px;
            height: 16px;
            margin: 5px 0px;
          }

          p {
            margin: 5px;
            // font-size: 13px;
            // font-weight: 800;
            // color: var(--dark-gray);
          }
        }

        // p {
        //   margin: 0;
        //   font-size: 12px;
        //   font-weight: 600;
        //   color: var(--light-gray);
        // }
      }
    }

    .input_container {
      // token amount input container
      position: relative;
      background-color: var(--low-dark-bg);
      border-radius: 12px;
      input {
        width: 70%;
        padding: 12px 0px;
        padding-left: 12px;
        background-color: transparent;
        border-radius: 12px;
        border: 0px;
        outline: none;
        font-size: 19px;
        color: var(--pure-black);
        font-weight: 600;

        &::placeholder {
          color: var(--light-gray);
        }
        @media ($mobile){
          width:67%;
        }
      }

      // max button
      .max_btn {
        width: 92px;
        position: absolute;
        right: 10px;
        top: 10px;
        background-color: var(--dark-button);
        border: 2px solid var(--button-border);
        padding: 6px 10px;
        border-radius: 16px;
        font-size: $font-size-xsm;
        color: var(--pure-black);
        cursor: pointer;
      }
    }

    .analytics {
      //health factor , lend APy
      display: flex;
      margin: 30px auto;
      width: 100%;
      justify-content: space-between;
      background-color: var(--low-dark-bg);
      padding: 28px;
      border-radius: 16px;
      div {
        // width: calc(100% / 3);
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;

        span {
          font-size: $font-size-xsm;
          font-weight: 400;
          color: var(--light-gray);
        }

        .paragraph04 {
          margin: 5px;
        }
      }
    }

    .operation_btn {
      // Lend, borrow, redeem, repay buttom
      margin-top: 10px;

      button {
        width: 100%;
        background-color: var(--main);
        color: var(--always-white);
        border: 0px;
        height: 40px;
        border-radius: 16px;
        font-size: $font-size-md;
        cursor: pointer;
        text-transform: capitalize;

        &:disabled {
          background-color: var(--low-dark-bg);
          color: var(--light-gray);
          cursor: not-allowed;
        }
      }
    }

    .liquidity_factors {
      margin: 30px 0;
      background-color: var(--low-dark-bg);
      border-radius: 12px;
      padding: 28px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      p {
        margin: 8px 0;
        display: flex;
        justify-content: space-between;

        span {
          font-size: $font-size-xsm;
          color: var(--light-gray);

          &:last-child {
            color: var(--pure-black);
            font-size: $font-size-xsm;
          }
        }
      }
    }

    .colleteral_req {
      //addition colletral text
      display: flex;
      justify-content: space-between;
      transition: all ease-in-out 0.2s;
      div {
        display: flex;

        img {
          width: 15px;
          height: 15px;
          margin: 5px 0px;
        }

        p {
          margin: 5px;
          font-size: 13px;
          font-weight: 600;
          color: var(--dark-gray);
        }
        h5 {
          margin: 5px;
          font-size: 13px;
          font-weight: 800;
          color: var(--light-red);
        }
      }

      p {
        margin: 5px;
        font-size: 10px;
        font-weight: 600;
        color: var(--dark-gray);
      }
    }

    .hide_colleteral_req {
      opacity: 0;
    }

    .show_colleteral_req {
      opacity: 1;
    }

    .ltv_container {
      padding: 28px;
      // LTV slider container
      p {
        margin-bottom: 25px;
        margin-top: 5px;
        display: flex;
        justify-content: space-between;

        span {
          font-size: $font-size-xsm;
          color: var(--light-gray);

          &:last-child {
            color: var(--pure-black);
            font-size: $font-size-xsm;

            span {
              color: var(--dark-gray);
            }
          }
        }
      }

      .ltv_slider {
        .ant-slider-rail {
          padding: 5px;
          border-radius: 10px;
          // background-color: var(--light-blue);
          background-color: var(--low-dark-bg);
        }

        .ant-slider-track {
          // background-color: var(--sharp-blue);
          background-color: var(--main);
          padding: 5px;
          border-radius: 10px;
        }

        .ant-slider-handle {
          width: 25px;
          height: 25px;
          margin-top: -8px;
          // background-color: var(--sharp-blue);
          background-color: var(--main-light);
          cursor: ew-resize;
          border: solid 2px var(--main-light);

          &::after {
            display: none;
          }
        }

        &:hover {
          .ant-slider-rail {
            padding: 5px;
            border-radius: 10px;
            // background-color: var(--main-light);
          }

          .ant-slider-track {
            background-color: var(--main);
            padding: 5px;
            border-radius: 10px;
          }
        }
      }
    }
  }
}

.ConfirmModel {
  width: 100%;
  height: 270px;

  .collateral_icon {
    display: flex;
    padding: 10px;
    justify-content: center;
    font-size: 20px;
    font-weight: 800;
    color: var(--dark-gray);

    img {
      margin: 5px;
      width: 20px;
      height: 20px;
    }
  }

  h1 {
    color: var(--light-red);
    width: 100%;
    text-align: center;
  }

  p {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: var(--dark-gray);
    padding: 0px 0px;
  }

  .buttons {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 0.5px solid #c4c4c4;

    button {
      background: var(--light-red);
      color: white;
      width: 120px;
      padding: 10px;
      border: none;
      border-radius: 10px;
      font-size: 15px;
      font-weight: 600;
      letter-spacing: 1.5px;
      cursor: pointer;

      &:hover {
        background: #c01f32;
      }

      &:last-child {
        background-color: #2b6def;

        &:hover {
          background: #1a4db3;
        }
      }
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.ant-message-notice-content {
  position: absolute;
  top: 70px;
  right: 10px;
  max-width: 500px;
}
.ant-modal-mask {
  //  background: var(--dark-gray);
  //  opacity: 0.6;
}

.antd_modal_overlay {
  width: 430px !important;
  .ant-modal-content {
    border-radius: 22px;
    background-color: var(--pure-white);
    //   border: 1px solid var(--sharp-blue);
    box-shadow: 1px 1px 10px var(--mid-blue);
    .ant-modal-body {
      padding: 0;
    }
  }
}
