@use './core/theme/theme.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;300;400;500;600;700&display=swap');

.light{
 @each $name, $color in $light {
   --#{$name}: #{$color};
 }
}



.dark{
  @each $name, $color in $dark {
    --#{$name}: #{$color};
  }
}

html,body{
  margin: 0px;
  padding: 0px;
}
body{
  font-family: 'Public Sans', sans-serif !important;
  font-variant: normal;
  font-feature-settings: "aalt";
  line-height: normal;
  background: radial-gradient( 51.86% 143.56% at 50.03% 30.06%, #e2edfc 0.09%, #d8e7fc 0.1%, #eaf2fd 51.04%, #ffffff 73.96% );
}

html, body {
  height: max-content;
 min-height: 100vh;
 overflow-x: hidden;
}
.app_container{
  width: 100%;
  max-width: 1920px;
  margin: auto;
}
.app{
 width: 80%;
 margin: auto;

}