@use './core/theme/theme.scss' as *;

.light{
 @each $name, $color in $light {
   --#{$name}: #{$color};
 }
}



.dark{
  @each $name, $color in $dark {
    --#{$name}: #{$color};
  }
}

html,body{
  background-color: var(--bgcolor);
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
  background: radial-gradient(69.94% 69.94% at 50.03% 30.06%, #D8E7FC 0%, #FFFFFF 100%);
}

.app_container{
  width: 100%;
  max-width: 1920px;
  margin: auto;
}
.app{
  width: 80%;
  margin: auto;
}