@use '../../../core/theme/constants.scss' as *;
.history_table_container{
    width: 100%;
    height: 650px;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    background-color: var(--pure-white);
    padding: 20px;
    .action_container{
        height: 50px;
        width: 100%;
       display: flex;
       justify-content: space-between;
       align-items: center;
        .input_container{
            height: 100%;
            display: grid;
            place-items: center center;
            margin: 0px 20px;
            width: 30%;

            input{
                padding: 12px;
                width: 100%;
                outline: none;
                
                border: 0px;
                background-color: var(--light-blue);
                border-radius: 5px;
                font-weight: 700;
                color: var(--dark-gray);
                &::placeholder{
                    font-weight: 700;
                    color: var(--light-gray);
                }
                &:disabled{
                    cursor: not-allowed;
                    background-color: var(--border-gray);
                    
                }
             
            }
            @media ($mobile) {
                   width: 60%; 
                   margin: 0;
            }
        }

        .sortBy{
            display: flex;
            width: 120px;
            cursor: pointer;
            background-color: var(--light-blue);
            border-radius: 5px;
            color: var(--light-gray);
            font-weight: 700;
            place-items: center center;
            justify-content: space-between;
            padding: 12px;
            p{
                margin: 0px 0px;
            }
        }
        .disableSort{
            background-color: var(--border-gray);
            cursor: no-drop;
        }
    }

    .table_header{
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid var(--border-gray);
        
        div{
            width: 15%;
            padding: 20px;
            &:first-child{
              width: 25%;
            }
            p{
                font-size: 14px;
                font-weight: 700;
                color: var(--pure-black);
                margin: 0;
            }
        }

    }

    .table_list_container{
        
        .table_item{
            display: flex;
            justify-content: space-between;
            border-bottom: 2px solid var(--border-gray);
            div{
                width: 15%;
                padding: 20px;
                &:first-child{
                    width: 25%;
                    display: flex;
                    div{
                        display: flex;
                        padding: 0px;
                        margin: 0px 10px;
                        img{
                            width: 30px;
                            height: 30px;
                            &:last-child{
                                margin-left: -10px;
                            }
                        }
                    }
                    p{
                        margin: 8px 0px;
                    }
                  }
                p{
                    font-size: 14px;
                    font-weight: 700;
                    color: var(--pure-black);
                    margin: 8px 0px;
                }

              
            }
            @media ($mobile){
                 
            }
        }
        .tx_icon{
            margin: 5px 0px;
            display: none;
        }

       .no_transaction{
        display: flex;
        flex-direction: column;
        place-items: center center;
        margin-top: 100px;
        height: 300px;
        font-size: 15px;
        h1{
            text-align: center;
            font-size: 20px;
            color: var(--light-red);
        }
       }
    }
    .pagination{
        display: grid;
        place-items: center center;
        padding: 20px;
    }

    .success {
        color: var(--light-green) !important;
    }

}
.show_for_mobile{
    display: none;
}
@media ($mobile) {
    .history_table_container{
        width: 115%;
        margin: -25px;
        padding: 5px;
    }

    .table_header, .table_item{

        div{
            width: 45px !important;
            padding: 10px !important;
            margin: 2px 0px !important;
            display: flex ;
            place-items: center center;
            p{
                font-size: 14px;
                font-weight: 700;
                color: var(--pure-black);
                margin: 0;
            }
        }

    }
    .hide_for_mobile{
        display: none !important;
       }
       .show_for_mobile, .tx_icon{
           display: block !important;
       }

     .tx_icon{
        display: flex !important;

     }
       
 }

 @media ($tablet) {
    .hide_for_tab{
     display: none;
    }
    .show_for_mobile{
        display: block !important;
    }

    .table_header, .table_item{

        div{
            width: 25% !important;
            padding: 10px !important;
            margin: 0px !important;
            p{
                font-size: 14px;
                font-weight: 700;
                color: var(--pure-black);
                margin: 0;
            }
        }

    }
 }

.sort_dropDown {
    // position: absolute;
    // width: 137px;
    // height: 85px;
    // background: #ffffff;
    // box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.08),
    //   2px 2px 2px rgba(0, 0, 0, 0.13);
    // border-radius: 7px;
    // padding: 10px 8px;
    // top: 107px;
    // right: 15px;
    .ant-popover-arrow{
        display: none;
    }
    .ant-popover-inner-content{
     padding: 5px;
     border-radius: 5px;
    }
    .ant-popover-inner{
        border-radius: 5px;
    }

    .sort_popover{
        width: 110px;
        p {
          width: 100%;
          padding: 10px;
          font-weight: 400;
          font-size: 13px;
          line-height: 10px;
          text-align: center;
          color: var(--light-gray);
          margin: 5px 0px;
          border-radius: 5px;
          cursor: pointer;
          &:hover {
            background-color: var(--mid-blue);
          }
        }
        .activeSort{
            background-color: var(--mid-blue);
        }
    }
  }

a{
    color: var(--sharp-blue);
    &:hover{
        color: var(--mid-blue);
    }
}

.ant-pagination-item-active{
    border-color: var(--sharp-blue);
    a{
        color: var(--sharp-blue);
        &:hover{
            color: var(--sharp-blue) !important;
        }
    }
}

.ant-pagination-item, .ant-pagination-next, .ant-pagination-prev{
    &:hover{
        color: var(--sharp-blue) !important;
        a{
            color: var(--sharp-blue) !important;
        }
    }
}